.btn2{
    padding: 50px !important;
    font-size: 20px !important;
    padding-bottom: 70px !important;
    font-weight: bold !important;
}

.big-word{
    font-size: 100px;
    font-weight: bold;
    color: blueviolet; 
    height: 300px;
}